:root {
    --white: 255, 255, 255;
    --black: 0, 0, 0;

    --primary-color: 255, 121, 59;
    --primary-color-light: 255, 176, 110;
    --primary-color-dark: 191, 68, 2;
    
    --success-color: 2, 138, 38;
        
    --danger-color: 255, 0, 0;
    --default-background-color: 241, 243, 247;

    --rounded-radius: 0.325rem;
    --rounded-radius--sm: 0.25rem;

    --padding: 1rem 1.5rem;
    --padding--md: 0.5rem 0.75rem;
    --padding--sm: 0.25rem 0.5rem;

    --flex-gap: 1em;

    --text-font: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --text-lg: 1rem;
    --text-md: 0.925rem;
    --text-sm: 0.875rem;
    --text-xs: 0.75rem;
}

body {
    font-family: var(--text-font);
}
