.button {
    min-width: 6rem;
    align-self: end;
    padding: var(--padding--sm);

    border: none;
    border-radius: var(--rounded-radius--sm);

    font-weight: 500;
}

.button:hover {
    cursor: pointer;
}

.button__filled {
    color: rgb(var(--white));
}

.button__filled:hover {
    background-color: rgb(var(--primary-color-light));
}

.button__filled--default {
    background-color: rgb(var(--primary-color));
}

.button__text {
    min-width: 3rem;
    color: rgb(var(--primary-color));
    background-color: transparent;
}

.button__text:hover {
    color: rgb(var(--primary-color-light));
    background-color: rgba(var(--primary-color), .25);
}
