.button {
    min-width: 6rem;
    align-self: end;
    padding: var(--padding--sm);

    border: none;
    border-radius: var(--rounded-radius--sm);

    font-weight: 500;
}

.button:hover {
    cursor: pointer;
}

.button__filled > span {
    color: rgb(var(--white));
}

.button__filled:hover {
    background-color: rgb(var(--primary-color-light));
}

.button__filled--default {
    background-color: rgb(var(--primary-color));
}

.button__text {
    min-width: 3rem;
    background-color: transparent;
    border: solid 1px transparent;
}

.button__text > span {
    color: rgb(var(--primary-color));
}

.button__text:hover {
    color: rgb(var(--primary-color-dark));
    border: solid 1px rgb(var(--primary-color-light));
}

.button--is-loading {
    position: relative;
}

.button--is-loading::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
}

.button-loader {
    width: 30px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side, #FFF 90%, #0000);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
    position: absolute;
    top: calc(50% - 3.75px);
    left: calc(50% - 15px);
}

@keyframes l7 {
    33% {
        background-size: calc(100%/3) 0%, calc(100%/3) 100%, calc(100%/3) 100%
    }

    50% {
        background-size: calc(100%/3) 100%, calc(100%/3) 0%, calc(100%/3) 100%
    }

    66% {
        background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0%
    }
}