.capitalize {
    text-transform: capitalize;
}

.text--center {
    text-align: center;
}

.text--md {
    font-size: var(--text-md);
}

.text--sm {
    font-size: var(--text-sm);
}

.text--xs {
    font-size: var(--text-xs);
}

.text--white {
    color: rgb(var(--white))
}

.text--primary {
    color: rgb(var(--primary-color-dark));
}

.text--danger {
    color: rgb(var(--danger-color));
}

.text--bold {
    font-weight: 700;
}
