.capitalize {
    text-transform: capitalize;
}

.text--center {
    text-align: center;
}

.text--md {
    font-size: var(--text-md);
}

.text--sm {
    font-size: var(--text-sm);
}

.text--primary {
    color: rgb(var(--primary-color));
}

.text--danger {
    color: rgb(var(--danger-color));
}